/* LAYOUT */
body { font: 100% Arial, sans-serif; background-color: #808080; }
.section { margin: 0; }
#navbar { display: none; }
#wrapper { position: relative; margin: 16px auto; border-radius: 40px; width: 94%; min-width: 1000px; max-width: 1370px; background-color: #F0F0F0; }
#header { border-radius: 10px 10px 0 0; height: 106px; color: #FFFFFF; background-color: #000000; }
#columns { margin-left: 368px; background-color: #FFFFFF; }
#content { float: right; width: 100%; }
#sidebar { float: left; margin-left: -368px; width: 368px; }
#sidebar-box1 { margin-left: 16px; width: 336px; height: 64px; }
#sidebar-box2 { float: left; margin-left: 16px; padding-top: 616px; width: 160px; }
#sidebar-box3 { float: left; margin-left: 16px; width: 160px; }
#sidebar-box4 { clear: both; margin-left: 16px; width: 336px; }
#cleared { clear: both; }
#footer { border-radius: 0 0 10px 10px; color: #FFFFFF; background-color: #000000; }
/* ELEMENTS */
h1 { font: 1.8em/1 Georgia, serif; }
h2 { font: bold 0.8em Arial, sans-serif; }
h3 { margin-bottom: 16px; border-bottom: 1px dotted; padding-bottom: 16px; font: 1.4em Georgia, serif; color: #4D9BD6; }
h4 { margin: 16px 0; font: 1.4em Georgia, serif; color: #4D9BD6; }
h5 { margin: 16px 0; font: 1.2em Georgia, serif; color: #4D9BD6; }
p { margin: 16px 0; }
pre { margin: 16px 0; padding: 8px; max-height: 240px; overflow: auto; font: 0.9em Lucida Console, monospace; background-color: #F0F0F0; }
form { margin: 0; }
a { color: #4D9BD6; text-decoration: none; }
a:hover { color: #33CC33; }
code { font-family: Lucida Console, monospace; color: #008000; }
input { font-family: Arial, sans-serif; }
div > ins { vertical-align: bottom; }
/* WIDGETS */
.widget { margin: 0; }
#Header1 { width: 368px; text-align: center; }
#Header1 h1 { margin: 0; padding: 10px 10px 5px; color: #4D9BD6; }
#Header1 p { margin: 0; padding: 0; }
#content ol, #content ul { margin: 0; padding: 0 0 0 32px; }
#content li { margin: 0; padding: 0; }
#HTML1 { position: absolute; top: 170px; left: 16px; }
#HTML2 { position: absolute; top: 8px; left: 368px; right: 0; text-align: center; }
#Blog1 { padding: 16px; }
#sidebar h2 { margin-bottom: 8px; margin-left: -8px; padding: 8px; color: #FFFFFF; background-color: #000000; box-shadow: 2px 2px 2px #999999; }
#sidebar ul, .BlogArchive #ArchiveList ul { padding: 0 0 0 16px; line-height: normal; list-style-type: none; }
#sidebar li, .BlogArchive #ArchiveList ul.flat li { padding: 0; text-indent: -16px; }
#HTML3 { z-index: 1; padding-top: 16px; }
#BlogArchive1 { }
#Label1 { }
#HTML4 { padding-top: 16px; padding-bottom: 16px; }
#Profile1 { }
#PlusFollowers1 { padding-top: 16px; padding-bottom: 16px; }
#HTML5 { padding: 16px; font-size: 0.8em; text-align: center; }
/* MAINBLOG */
.post-body { margin: 16px 0; }
.jump-link { margin: 16px 0; }
.post-footer { margin: 16px 0; border-color: #CCCCCC #333333 #333333 #CCCCCC; border-style: solid; border-width: 1px; padding: 8px; line-height: 1; background-color: #F0F0F0; }
.post-footer-line-3 { display: none; }
#comments, #comments .comments-content, #comments .comment-thread { margin: 0; }
#comments ol { padding: 0; background-color: #F0F0F0; }
#comments li { border-bottom: 2px solid #FFFFFF; padding: 4px; }
#comments .datetime { float: right; margin: 0; }
#comments .comment-content { font: 0.9em Lucida Console, monospace; text-align: left; }
#comments .comment-replies { margin-top: 0; margin-left: 48px; }
#comments .inline-thread { margin-top: 8px; padding: 0; }
#comments ol.thread-expanded { margin-top: 8px; background-color: #D6D6D6; }
#comments .continue a { padding: 8px; }
#comments .comment-replybox-thread { margin-top: 0; padding: 0 4px; background-color: #F0F0F0; }
#comments .loadmore { margin: 0; }
#comments .loadmore a { padding: 8px; font-weight: bold; background-color: #F0F0F0; }
.comment-footer { margin: 0; }
.comment-form { max-width: none; }
.comment-form p { margin: 16px 0; text-align: center; }
#blog-pager { margin: 16px auto; border-radius: 16px; width: 480px; line-height: 2; background-color: #F0F0F0; }
#blog-pager-newer-link { float: left; width: 160px; }
#blog-pager-older-link { float: right; width: 160px; }
.home-link { display: block; margin: 0 auto; width: 160px; background-color: #E0E0E0; }
.blog-feeds, .post-feeds { text-align: center; }
/* CUSTOM */
#adsense-ins { margin: 16px -16px; text-align: center; }
#bu-related-posts { margin: 16px 0; }
#bu-related-posts h4 { border-bottom: 1px dotted; padding-bottom: 8px; font: italic bold 1.0em Arial, sans-serif; color: inherit; }
#bu-related-posts ul { padding: 0; overflow: hidden; list-style-type: none; }
#bu-related-posts li { float: left; margin: 0 0.5%; width: 19%; text-align: center; }
#bu-related-posts a { display: block; }
#bu-related-posts span { display: block; margin: 0 auto 8px; border: 1px solid #333333; width: 72px; height: 72px; background-color: #F0F0F0; box-shadow: 2px 2px 2px #999999; }
.demo-canvas { margin: 16px 0; border-color: #CCCCCC #333333 #333333 #CCCCCC; border-style: solid; border-width: 1px; padding: 8px; box-shadow: 2px 2px 2px #999999; }
.demo-canvas-ibwrap { margin: 16px 0; text-align: center; }
.demo-canvas-ibwrap iframe, .demo-canvas-ibwrap object, .demo-canvas-ibwrap embed { border-color: #CCCCCC #333333 #333333 #CCCCCC; border-style: solid; border-width: 1px; padding: 8px; box-shadow: 2px 2px 2px #999999; }
.gsc-control-cse { border: none !important; padding: 0 !important; background-color: transparent !important; }
form.gsc-search-box { margin-bottom: 0 !important; padding: 0 !important; }
