/* LAYOUT */
body { font: 100% Open Sans, Arial, sans-serif; background-color: #EEEEEE; }
#wrapper { margin-left: 332px; background-color: #FFFFFF; }
#header { float: left; margin-left: -332px; width: 332px; }
#content { float: right; width: 100%; }
#sidebar { float: left; clear: left; margin-left: -332px; width: 332px; }
#cleared { clear: both; }
#footer { }
/* ELEMENTS */
h1 { font-family: Georgia, Times New Roman, serif; font-size: 1.8em; font-weight: normal; line-height: 1; }
h2 { font-size: 1em; }
h3 { margin: 0 0 32px; font-family: Georgia, Times New Roman, serif; font-size: 1.8em; font-weight: normal; line-height: 1; color: #4D9BD6; }
h4 { margin: 16px 0; font-size: 1.5em; font-weight: normal; color: #4D9BD6; }
h5 { margin: 16px 0; font-size: 1.25em; font-weight: normal; color: #4D9BD6; }
p { margin: 16px 0; }
pre { margin: 16px 0; padding: 8px; max-height: 320px; overflow: auto; font-family: Consolas, Courier New, monospace; font-size: smaller; background-color: #EEEEEE; }
form { margin: 0; }
ol, ul { margin: 0; padding: 0 0 0 32px; }
li { margin: 0; padding: 0; }
a { color: #4D9BD6; text-decoration: none; }
a:hover { color: #33CC33; }
code { border-radius: 4px; padding: 2px 8px; font-family: Consolas, Courier New, monospace; background-color: #EEEEEE; }
input { font-family: inherit; }
/* SECTIONS AND WIDGETS */
.section, .widget { margin: 0; }
#navbar { display: none; }
#Header1 { border-bottom: 4px solid #4D9BD6; padding: 16px; color: #FFFFFF; background-color: #000000; text-align: center; }
#Header1 h1 { margin: 0; color: #4D9BD6; }
#Header1 p { margin: 0; padding: 0; }
#HTML1 { z-index: 1; margin: 0 auto; padding: 16px; max-width: 420px; height: 32px; }
#Blog1 { padding: 16px; }
#sidebar .section { overflow: hidden; }
#sidebar h2 { margin: 0 8px; padding: 8px; color: #FFFFFF; background-color: #000000; }
#sidebar .widget-content { padding: 16px; }
#HTML3 { border-top: 4px solid #4D9BD6; padding: 16px; font-size: smaller; color: #FFFFFF; background-color: #000000; text-align: center; }
/* ADSENSE */
#adsense-content-1 { padding-top: 16px; padding-left: 16px; padding-right: 16px; height: 90px; }
#adsense-content-1 > ins { position: relative; top: 50%; }
#adsense-content-1 > ins > ins { position: relative; top: -50%; }
#adsense-content-2 { margin: 16px 0; padding: 16px 0; }
#adsense-sidebar-1 { margin-bottom: 16px; margin-left: 16px; margin-right: 16px; height: 250px; }
#adsense-sidebar-2 { margin-bottom: 16px; margin-left: 16px; margin-right: 16px; height: 90px; background-color: #FFFFFF; }
/* MAINBLOG */
.post-body { margin: 16px 0; }
.jump-link { margin: 16px 0; }
.post-footer { margin: 16px 0; border: 1px solid; border-color: #CCCCCC #333333 #333333 #CCCCCC; padding: 8px; font-size: smaller; background-color: #EEEEEE; }
.post-footer .post-comment-link { float: right; margin-right: 0; }
.post-footer .post-share-buttons { margin-top: 0; }
.post-footer .post-author, .post-footer .post-timestamp, .post-footer .reaction-buttons, .post-footer .star-ratings, .post-footer .post-backlinks, .post-footer .post-icons, .post-footer .post-location { display: none; }
#gpluscomments { margin: 16px 0; }
#blog-pager { margin: 16px auto; border-radius: 16px; width: 468px; line-height: 2; background-color: #EEEEEE; }
#blog-pager-newer-link { float: left; width: 156px; }
#blog-pager-older-link { float: right; width: 156px; }
.home-link { display: block; margin: 0 auto; width: 156px; background-color: #DDDDDD; }
.blog-feeds, .post-feeds { text-align: center; }
/* CUSTOM */
#HTML1 .gsc-control-cse { border: none; padding: 0; background-color: transparent; }
#HTML1 form.gsc-search-box { margin: 0; padding: 0; }
#HTML1 table.gsc-search-box { margin: 0; }
#bu-related-posts { margin: 16px 0; }
#bu-related-posts h4 { font-size: 1em; font-style: italic; font-weight: bold; color: inherit; }
#bu-related-posts ul { padding: 0; overflow: hidden; list-style-type: none; }
#bu-related-posts li { float: left; margin: 0 0.5%; width: 19%; text-align: center; }
#bu-related-posts a { display: block; }
#bu-related-posts span { display: block; margin: 0 auto 8px; border: 1px solid #333333; width: 72px; height: 72px; background-color: #EEEEEE; box-shadow: 2px 2px 2px #999999; }
.yellow-text { padding: 8px; background-color: #FFF999; }
.demo-canvas { margin: 16px 0; border: 1px solid; border-color: #CCCCCC #333333 #333333 #CCCCCC; padding: 8px; box-shadow: 2px 2px 2px #999999; }
.demo-canvas-ibwrap { margin: 16px 0; text-align: center; }
.demo-canvas-ibwrap iframe, .demo-canvas-ibwrap video, .demo-canvas-ibwrap object, .demo-canvas-ibwrap embed { border: 1px solid; border-color: #CCCCCC #333333 #333333 #CCCCCC; padding: 8px; box-shadow: 2px 2px 2px #999999; }
/* RESPONSIVE */
@media screen and (max-width: 963px) {
	#wrapper { margin-left: 0; background-color: transparent; }
	#header { float: none; margin-left: 0; width: auto; }
	#content { float: none; width: auto; background-color: #FFFFFF; }
	#sidebar { float: none; margin-left: 0; width: auto; }
	#sidebar .widget { float: left; width: 50%; }
	#adsense-sidebar-1 { margin-top: 16px; height: auto; }
}
@media screen and (max-width: 499px) {
	#sidebar .widget { float: none; width: auto; }
	#blog-pager { width: auto; }
	#blog-pager-newer-link { display: block; float: none; width: auto; }
	#blog-pager-older-link { display: block; float: none; width: auto; }
	.home-link { width: auto; }
	#bu-related-posts li { width: 49%; }
}
